.button {
    display: inline-block;
    box-sizing: border-box;
    text-align: center;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: background 0.2s;
}

.primary {
    color: var(--white);
    background-color: var(--primary);
}
.primary:hover {
    background-color: var(--primary-hover);
}
.primary svg,
.ghost:hover svg {
    fill: var(--white);
}

.ghost {
    color: var(--black);
    background-color: transparent; 
    border: 1px solid var(--gray-light);
}

.arrow {
    display: inline-block;
    margin-left: 10px;
}

.down {
    transform: rotate(90deg);
    transition: all 0.2s;
}